.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(circle, white 1px, transparent 1.5px), radial-gradient(circle, white 1px, transparent 1.5px), linear-gradient(135deg, #0a192f, #1f1035);
    background-size: 550px 550px, 350px 350px, 100% 100%;
    background-position: 0 0, 40px 60px, 0 0;
}

.container-top {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10vw;
}

.container-bottom {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;
    padding: 5rem 10vw;
}


#title, #spacer {
    flex: 1;
}

#socials, #spacer-bottom {
    flex: 1;
}


#socials {
    height: 80vh;
    width: 15vw;
    padding-bottom: 5rem;

    display: flex;
    align-items: flex-end;  
    justify-content: center;
}

#content {
    height: 80vh;
    width: 70vw;

    display: flex;
    justify-content: center;
}