@inherits LayoutComponentBase
@using Portfolio.Overlay

<div class="page">
    <header class="container-top">

        <div id="title">
            <Title />
        </div>

        <nav id="nav">
            <Navbar />
        </nav>

        <div id="spacer"></div>
    </header>

    <div class="container-right">
        @* <div id="socials">
            <Socials />
        </div> *@

        @* <main>
            <article>
                @Body
            </article>
        </main> *@
    </div>
    
</div>