@inherits LayoutComponentBase
@using Portfolio.Overlay
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <header class="container-top">

        <div id="title">
            <Title />
        </div>

        <nav id="nav">
            <Navbar />
        </nav>

        <div id="spacer"></div>
    </header>

    <div class="container-bottom">
        
        <div id="socials">
            <Socials />
        </div>

        <main>
            <div id="content">
                @Body
            </div>
        </main>

        <div id="spacer-bottom"></div>

    </div>
    
</div>