<div class = "nav-container">
    <NavLink class="nav-link" href="">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="projects">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Projects
    </NavLink>
    <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Timeline
    </NavLink>
    <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About Me
    </NavLink>
    <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contact
    </NavLink>
</div>