<div class = "socials-container">
    <a href="https://www.linkedin.com/in/adit-paul-426687370/" target="_blank">
        <span class="bi bi-linkedin" aria-hidden="true"></span>
    </a>
    <a href="https://github.com/apl66" target="_blank">
        <span class="bi bi-github" aria-hidden="true"></span>
    </a>
    <a href="mailto:adit.paulb@gmail.com" target="_blank">
        <span class="bi bi-envelope" aria-hidden="true"></span>
    </a>
    <a href="https://www.instagram.com/itz_n0t_ad1t/" target="_blank">
        <span class="bi bi-instagram" aria-hidden="true"></span>
    </a>
</div>